name: Conference App CI

on:
  pull_request:
    branches:
      - dev
    paths:
      - 'packages/conferenceapp/**'
  workflow_dispatch:
    inputs:
      changelog:
        description: 'Changelog for this release'
        required: true
      build-version:
        description: 'Version number for the release'
        required: true
      build-number:
        description: 'Build number for the release'
        required: true
      release-type:
        description: 'Type of release'
        required: true
        type: choice
        options:
          - build
          - patch
        default: build

env:
  SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}

jobs:
  check-formatting:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/shared-workflow.yaml
    with:
      package-name: conferenceapp

  android-build:
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.release-type == 'build'
    uses: ./.github/workflows/shared-workflow.yaml
    with:
      package-name: conferenceapp
      android-build: ${{ github.event.inputs.release-type == 'build' }}
      changelog: ${{ github.event.inputs.changelog }}
      build-number: ${{ github.event.inputs.build-number }}
      build-version: ${{ github.event.inputs.build-version }}
    secrets:
      CREDENTIAL_FILE_CONTENT: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
      FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}

  ios-build:
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.release-type == 'build'
    uses: ./.github/workflows/shared-workflow.yaml
    with:
      package-name: conferenceapp
      ios-build: ${{ github.event.inputs.release-type == 'build' }}
      changelog: ${{ github.event.inputs.changelog }}
      build-number: ${{ github.event.inputs.build-number }}
      build-version: ${{ github.event.inputs.build-version }}
    secrets:
      APP_STORE_CONNECT_ISSUER_ID: ${{ vars.APP_STORE_CONNECT_ISSUER_ID }}
      APP_STORE_CONNECT_KEY_IDENTIFIER: ${{ vars.APP_STORE_CONNECT_KEY_IDENTIFIER }}
      APP_STORE_CONNECT_PRIVATE_KEY: ${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}
      CERTIFICATE_PRIVATE_KEY: ${{ secrets.CERTIFICATE_PRIVATE_KEY }}
      APP_STORE_APP_ID: ${{ vars.APP_STORE_APP_ID }}
      SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}
  
  patch-release:
    if: github.event_name == 'workflow_dispatch' && github.event.inputs.release-type == 'patch'
    uses: ./.github/workflows/shared-workflow.yaml
    with:
      package-name: conferenceapp
      changelog: ${{ github.event.inputs.changelog }}
      build-version: ${{ github.event.inputs.build-version }}
      build-number: ${{ github.event.inputs.build-number }}
    secrets:
      SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}
