name: Conference App CI

on:
  pull_request:
    branches:
      - dev
    paths:
      - 'packages/conferenceapp/**'
  workflow_dispatch:
    inputs:
      release-type:
        description: 'Type of release'
        required: true
        type: choice
        options:
          - build
          - patch
        default: patch

      build-version:
        description: 'Version number for the release'
        required: true
        type: string

      build-number:
        required: true
        type: string

jobs:

  validate-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: Validate Inputs
        run: |
          if [[ "${{ github.event.inputs['release-type'] }}" == "build" ]]; then
            if [[ -z "${{ github.event.inputs['build-version'] }}" ]]; then
              echo "Error: build-version is required for a build release."
              exit 1
            fi
            if [[ -z "${{ github.event.inputs['build-number'] }}" ]]; then
              echo "Error: build-number is required for a build release."
              exit 1
            fi
          fi
          if [[ "${{ github.event.inputs['release-type'] }}" == "patch" ]]; then
            echo "Patch release selected. Skipping build-version and build-number validation."
          fi

  check-formatting:
    if: github.event_name == 'pull_request'
    uses: ./.github/workflows/shared/shared-workflow.yaml
    with:
      package-name: conferenceapp

  android-build:
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs['release-type'] == 'build' }}
    uses: ./.github/workflows/shared/shared-workflow.yaml
    with:
      package-name: conferenceapp
      android-build: ${{ github.event.inputs['release-type'] == 'build' }}
      build-number: ${{ github.event.inputs['build-number'] }}
      build-version: ${{ github.event.inputs['build-version'] }}
    secrets:
      SERVICE_ACCOUNT_JSON: ${{ secrets.SERVICE_ACCOUNT_JSON }}
      SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}
      KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      ENV_BASE64: ${{ secrets.ENV_BASE64 }}

  ios-build:
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs['release-type'] == 'build' }}
    uses: ./.github/workflows/shared/shared-workflow.yaml
    with:
      package-name: conferenceapp
      ios-build: ${{ github.event.inputs['release-type'] == 'build' }}
      build-number: ${{ github.event.inputs['build-number'] }}
      build-version: ${{ github.event.inputs['build-version'] }}
    secrets:
      APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
      APP_STORE_CONNECT_KEY_IDENTIFIER: ${{ secrets.APP_STORE_CONNECT_KEY_IDENTIFIER }}
      APP_STORE_CONNECT_PRIVATE_KEY: ${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}
      CERTIFICATE_PRIVATE_KEY: ${{ secrets.CERTIFICATE_PRIVATE_KEY }}
      APP_STORE_APP_ID: ${{ secrets.APP_STORE_APP_ID }}
      SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}
      ENV_BASE64: ${{ secrets.ENV_BASE64 }}
  
  patch-android:
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs['release-type'] == 'patch' }}
    uses: ./.github/workflows/shared/shared-workflow.yaml
    with:
      package-name: conferenceapp
      build-version: ${{ github.event.inputs['build-version'] }}
      build-number: ${{ github.event.inputs['build-number'] }}
    secrets:
      SERVICE_ACCOUNT_JSON: ${{ secrets.SERVICE_ACCOUNT_JSON }}
      SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}
      KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
      KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
      KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      ENV_BASE64: ${{ secrets.ENV_BASE64 }}
  
  patch-ios:
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs['release-type'] == 'patch' }}
    uses: ./.github/workflows/shared/shared-workflow.yaml
    with:
      package-name: conferenceapp
      build-version: ${{ github.event.inputs['build-version'] }}
      build-number: ${{ github.event.inputs['build-number'] }}
    secrets:
      APP_STORE_CONNECT_ISSUER_ID: ${{ secrets.APP_STORE_CONNECT_ISSUER_ID }}
      APP_STORE_CONNECT_KEY_IDENTIFIER: ${{ secrets.APP_STORE_CONNECT_KEY_IDENTIFIER }}
      APP_STORE_CONNECT_PRIVATE_KEY: ${{ secrets.APP_STORE_CONNECT_PRIVATE_KEY }}
      CERTIFICATE_PRIVATE_KEY: ${{ secrets.CERTIFICATE_PRIVATE_KEY }}
      APP_STORE_APP_ID: ${{ secrets.APP_STORE_APP_ID }}
      SHOREBIRD_TOKEN: ${{ secrets.SHOREBIRD_TOKEN }}
      ENV_BASE64: ${{ secrets.ENV_BASE64 }}
